.product-card {
  width: 20%;
  margin: 30px 0px 0px 15px;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
}

.image-container {
  width: 100%;
}

.image-container img {
  height: 100%;
  width: 100%;
}

.price-and-quantity-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.price-and-quantity-container input {
  width: 15%;
  margin-left: 20px;
}

.price {
  font-weight: bold;
}
